header {
  width: 100%;
  height: 56px;
  border-bottom: 1px solid $colors-grey-light;
  background-color: $colors-grey-lighter;
  padding: 16px;

  display: flex;
  justify-content: center;

  align-items: center;
  z-index: 100;
}


.header__logo {
  width: 85px;
  height: auto;

  img  {
    width: 100%;
  }


}

.hamburger {

  i {
    color: $colors-grey;
    cursor: pointer;

    &:active {
      transform: translate(1px, 1px);
    }
  }

  @media (min-width: $device-tabletLs) {
    display: none;
  }
}

.close-menu {
  position: absolute;
  right: 18px;
  top: 18px;

  @media (min-width: $device-tabletLs) {
    display: none;
  }

  i {
    color: $colors-grey;
    cursor: pointer;

    &:active {
      transform: translate(1px, 1px);
    }
  }
}

.header__menu {
  width: 100%;
  display: flex;
  justify-content: flex-end;

  @media (min-width: $device-tabletLs) {
    padding-left: 30px;
    justify-content: space-between;
  }

  nav {
    width: 70vw;
    height: 100vh;
    padding-top: 54px;
    position: fixed;
    top: 0;
    right: -100vw;

    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;

    color: $colors-grey;
    font-weight: 700;

    border-left: 1px solid $colors-grey-light;
    background: $colors-grey-lighter;

    box-shadow: 4px 0 19px 10px #00000030;
    z-index: 500;

    transition: right 0.3s ease-in;

    &.toggleMenu {
      right: 0;
    }

    @media (min-width: $device-tabletLs) {
      width: 100%;
      height: auto;
      padding-top: unset;
      position: relative;
      top: unset;
      right: unset;

      flex-direction: row;
      justify-content: space-between;

      border-left: unset;
      background: unset;

      box-shadow: unset;
      z-index: unset;
    }

   
    .nav__group {
      width: 100%;
      height: auto;
      padding: 18px 36px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid $colors-grey-light;

      @media (min-width: $device-tabletLs) {
        width: auto;
        padding: unset;
        border-bottom: unset;
      }
    }


    .access-nav {
      width: 100%;

      @media (min-width: $device-tabletLs) {
        width: auto;
      }

      &__icon {
        width: 24px;
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background-color: #fff;

        cursor: pointer;

        i {
          font-size: 1.18rem;
        }
      }

      @media (min-width: $device-tabletLs) {
        div + div {
          margin-left: 18px;
        }
      }
    }


    .play-nav {
      div {
        display: flex;
        align-items: center;
        cursor: pointer;
        span {
          margin-left: 12px;
        }
      }
      @media (min-width: $device-tabletLs) {
        transform: translateX(-220%);
      }
    }

    .user-nav {
      div {
        display: flex;
        align-items: center;
        cursor: pointer;

        span {
          margin-left: 12px;
        }

        @media (min-width: $device-tabletLs) {
          &+div {margin-left: 30px;}
        }

      }
    }





  }

}
