.header-tab {
  width: 100%;
  height: 50px;
  display: flex;
  color: $colors-dark-grey;

  box-shadow: 0px 5px 24px 3px #00000010;
  
  &__tab {
    width: 33.33%;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: color 0.2s ease;

    cursor: pointer;

    &--active {
      color: $colors-secondary;
      border-bottom: 2px solid $colors-secondary;
    }

  }
}