footer {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: column;
  align-items: center;

  border-top: 1px solid $colors-grey-light;
  background-color: $colors-grey-lighter;

}

.footer__container {
  width: 100%;
  max-width: 1058px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-social {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px;

  border-bottom: 1px solid $colors-grey-light;
}

.footer-social__links {
  height: 32px;
  display: flex;
  align-items: center;


  a {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $colors-dark-grey;
    transition: transform 0.2s;

    :hover {
      color: $colors-secondary;
      transform: scale(1.2);
    }
  }

  a + a {
    margin-left: 8px;
  }

}


.footer-corporate {
  width: 100%;
  height: auto;
  min-height: 200px;

  display: flex;
  flex-direction: column;
  align-items: center;

  &__app {
    padding: 18px;
    display: flex;
    justify-content: start;
    align-items: center;

    span {
      margin-left: 18px;
      font-weight: 700;
      color: $colors-secondary;
    }

    a {
      width: 50px;
      height: 50px;

      img {
        width: 50px;
        height: 50px;
      }
    }
  }

  &__toggle {
    width: calc(100% - 36px);
    height: auto;
    padding: 14px 0;

    border-bottom: 1px solid $colors-grey-light;

    transition: all 0.3s ease;

    &:last-child {
      border-bottom: unset;
    }

    span {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-weight: 300;
      color: $colors-black;

      cursor: pointer;

      &:hover {
        background-color: #ffffff60;
      }
    }

    ul {
      list-style-type: none;
      display: none;

      &.corporate__toggle--active {
        display: block;
      }

      li {
        a {
          display: block;
          padding: 8px 0;
          font-size: 0.875rem;
          font-weight: 700;
          color: $colors-grey;
        }

        :hover {
          background-color: #ffffff60;
        }
      }
    }

  }
}

.footer-policy {
  width: 100%;
  height: auto;
  padding: 14px;

  background-color: #fff;

  @media (min-width: $device-tabletLs) {
    text-align: center;
  }

  ul {
    list-style: none;

    li {
      display: inline-block;
      padding: 0 8px;
      border-right: 1px solid $colors-grey;

      &:first-child {
        padding-left: 0 8px 0 0;
      }

      &:last-child {
        border-right: unset;
      }

      a {
        display: block;
        font-size: 0.75rem;
        font-weight: 700;
        color: $colors-grey;

        :hover, :active{
          color: $colors-secondary;
        }
      }
    }
  }

}

.footer-disclaimer {
  padding: 10px;
  text-align: center;
  font-weight: 300;
  font-size: 0.75rem;
  color: $colors-grey;
}