main {
  width: 100%;
  height: 100%;
  max-width: 100vw;
  padding-bottom: 18px;
  
  flex: 1;
  display: flex;
  flex-direction: column;
}

.movie-reel {
  width: 100%;

  h4 {
    padding: 0 18px;
  }

  &__movie {
    width: auto !important;
    border-radius: 6px;
    overflow: hidden;
    transition: transform 0.3s ease;

    cursor: pointer;

    img {
      height: 100%;
    }

    &:hover {
      transform: scale(1.1);
      box-shadow: 1px 2px 4px #00000040;
      z-index: 100;
    }
  }

}

// VENDOR ~ SWIPER SLIDER

.swiper-container {
  width: 100%;
  height: 200px;
  padding: 18px;

  @media (min-width: $device-mobile) {
      height: 250px;
  }
  
  @media (min-width: $device-laptop) {
      height: 300px;
  }
}