.hero-slider {
  width: 100%;
  height: auto;
  overflow: hidden;

  &__banner {
    width: 92%;
    padding-top: 42%;
    border-radius: 6px;

    background-color: $colors-grey-light;
    overflow: hidden;

    transition: transform 0.3s ease;

    @media (min-width: $device-mobile) {
      width: 450px;
      padding-top: 253.3px;
    }
    
    img {
      width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}


// VENDOR ~ SWIPE SLIDER

.swiper-hero {
  position: relative;
  width: 100% !important;
  padding: 18px;

  @media (min-width: $device-mobile) {
    padding: 36px 18px;
    margin-bottom: 36px;
  }

  .swiper-slide-active {
    @media (min-width: $device-mobile) {
      transform: scale(1.1);
      z-index: 100;
    }
  }

  .swiper-pagination {
    display: none;

    @media (min-width: $device-mobile) {
      display: block;
      bottom: 0;
    }
  }
}

