body {
  font-family: Robotot, Arial, Helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.2;
  color: $colors-black;
}

// CONTAINERS

.page__wrapper {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  max-width: 100vw;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.page__container {
  width: 100%;
  max-width: 1058px;

  display: flex;
  
}