// COLORS

$colors-primary: #E64339;
$colors-secondary: #F85D54;
$colors-black: #1F1F20;
$colors-dark-grey: #606064;
$colors-grey: #666666;
$colors-grey-light:#DCDCE1;
$colors-grey-lighter:#F1F2FA;



// Breakepoints

$device-mobile: 599px;
$device-tablet: 650px;
$device-tabletLs: 770px;
$device-laptop: 1200px;
$device-ldesktop: 1800px;